
<div class="container">
    <div class="row">
        {{!-- search by genre --}}
         <div class="infoCard rgb col-sm-auto">
            <div id="bookImage" class="infoCard-image"></div>
            <div class="cardText">
                <h2>Book Title:</h2>
                <p>Author:</p>
            </div>
            <div class="infoCard-stats">
                <div class="infoStat">
                    <div class="infoValue">sci-fi</div>
                    <div class="infoType">genre</div>
                </div>
                <div class="infoStat infoBorder">
                    <div class="infoValue">34.99</div>
                    <div class="infoType">Price:</div>
                </div>
                <div class="infoStat">
                    <div class="infoValue">4</div>
                    <div class="infoType">inventory</div>
                </div>
            </div>
        </div>
        {{!-- sort author A-Z --}}
         <div class="infoCard rgb col-sm-auto">
            <div id="bookImage" class="infoCard-image"></div>
            <div class="cardText">
                <h2>Book Title:</h2>
                <p>Author:</p>
            </div>
            <div class="infoCard-stats">
                <div class="infoStat">
                    <div class="infoValue">sci-fi</div>
                    <div class="infoType">genre</div>
                </div>
                <div class="infoStat infoBorder">
                    <div class="infoValue">34.99</div>
                    <div class="infoType">Price:</div>
                </div>
                <div class="infoStat">
                    <div class="infoValue">4</div>
                    <div class="infoType">inventory</div>
                </div>
            </div>
        </div>
        {{!-- books on sale --}}
         <div class="infoCard rgb col-sm-auto">
            <div id="bookImage" class="infoCard-image"></div>
            <div class="cardText">
                <h2>Book Title:</h2>
                <p>Author:</p>
            </div>
            <div class="infoCard-stats">
                <div class="infoStat">
                    <div class="infoValue">sci-fi</div>
                    <div class="infoType">genre</div>
                </div>
                <div class="infoStat infoBorder">
                    <div class="infoValue">34.99</div>
                    <div class="infoType">Price:</div>
                </div>
                <div class="infoStat">
                    <div class="infoValue">4</div>
                    <div class="infoType">inventory</div>
                </div>
            </div>
        </div>
    </div>
</div>

 <!-- Carousel -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active" style="background-image:url(./public/images/book4.png) ;">
        <div class="container carousel-container">
            <h1>Example Headline</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae sed hic autem harum perspiciatis cupiditate delectus doloremque minima consectetur eos.</p>
        </div>
        </div>
        <div class="carousel-item" style="background-image:url(./public/images/book5.png)";>
        <div class="container carousel-container">
            <h1>Example Headline</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae sed hic autem harum perspiciatis cupiditate delectus doloremque minima consectetur eos.</p>
        </div>
        </div>
        <div class="carousel-item" style="background-image:url(./public/images/book6.png)";>
        <div class="container carousel-container">
            <h1>Example Headline</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae sed hic autem harum perspiciatis cupiditate delectus doloremque minima consectetur eos.</p>
        </div>
        </div>
    </div>
    <a href="#myCarousel" class="carousel-control-prev" role="button" data-slide="prev">
        <span class="sr-only">Previous</span>
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a href="#myCarousel" class="carousel-control-next" role="button" data-slide="next">
        <span class="sr-only">Previous</span>
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
</div>