<section>
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5 text-center">
                <img src="/images/alexandriaLogo-circle.png"
                class="img-fluid" alt="Sample image" width="400px";>
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form class="login-form">
                    <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                        <p class="lead fw-normal mb-0 me-3">Sign up with</p>
                        <button type="button" class="btn btn-primary btn-floating mx-1">
                            <i class="bi bi-facebook"></i>
                        </button>
                        <button type="button" class="btn btn-primary btn-floating mx-1">
                            <i class="bi bi-google"></i>
                        </button>
                        <button type="button" class="btn btn-primary btn-floating mx-1">
                            <i class="bi bi-twitter"></i>
                        </button>
                    </div>
                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0">Or</p>
                    </div>
                    {{!-- name input --}}
                     <div class="form-outline mb-4">
                        <input type="email" id="email-signup" class="form-control form-control-lg"
                            placeholder="Enter a valid email address" />
                        <label class="form-label" for="name-signup">Enter Name</label>
                    </div>
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="email" id="email-signup" class="form-control form-control-lg"
                            placeholder="Enter a valid email address" />
                        <label class="form-label" for="email-signup">Email address</label>
                    </div>
                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <input type="password" id="password-signup" class="form-control form-control-lg"
                            placeholder="Enter password" />
                        <label class="form-label" for="password-signup">Password</label>
                    </div>
                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-lg"
                            style="padding-left: 2.5rem; padding-right: 2.5rem; background-color: #9BB1ED;">Signup</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script src="/javascript/login.js"></script>