 
body{
    background-color: #fdfdfd;
    background-image: url("https://www.transparenttextures.com/patterns/bedge-grunge.png");
 }
  
 .hero-text {
    text-shadow: -.8px .8px 0 #000,
                  .8px .8px 0 #000,
                 .8px -.8px 0 #000,
                -.8px -.8px 0 #000;
  
    color: #f1eae5
 }
  
 .subtitle {
    font-size: medium;
    font-style: italic;
 }
  
 .carousel-item {
    height: 20rem;
    background: #D07F4B;
    color:seashell;
    position:relative;
    background-position: center;
    background-size: cover;
  
 }
 .carousel-container{
   position: abolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 20px;
 }
  
 .browse-text{
    color: #ffffff;
  
 }
  
 .box-shadow {
    margin: auto;
    box-shadow: 10px 10px;
    background-color: #324788;
    width: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
 }
  
  
  
 